{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

      <div class="col-xs-2 sidenav">
        <ul>
          <li>Books</li>
          <li>Authors</li>
        </ul>
        <select class="form-control" name="#" id="address_data">
         <option value="">N/A</option>
         {% for book in books %}
         <option value="{{book.genre}}">
           {{book.genre}}
         </option>
         {% endfor %}
       </select><br>
       <div class="form-group">
         <label for="text">Title: </label>
         <input type="text" name="title" class="form-control" placeholder="Book Title"></input><br>
       </div>
      </div>

    {% for book in books %}
    <div class="displaybox">
      <div class="col-xs-4">
       <img src="{{book.cover_url}}" style="height: 75%; width: 75%">
      </div>
      <div class="col-xs-6">
        <h3>{{book.title}}</h3>
        <h4>{{book.genre}}</h4>
          <h4>{{book.first_name}} {{book.last_name}}</h4>
        <p>{{book.description}}</p>
        <a href="/showpage/{{book.id}}" class="btn btn-warning">Details</a>
      </div>
    </div>
    {% endfor %}

  </div>

{% endblock %}
