{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <header>
      <h1>Edit: {{book.title}}</h1>
    </header>
    <form method="post">
      <label for="text">Title: </label>
        <input type="text" name="title" value="{{book.title}}"></input><br>
      <label for="text">Genre: </label>
        <input type="text" name="genre" value="{{book.genre}}"></input><br>
      <label for="text">Image: </label>
        <input type="text" name="cover_url" value="{{book.cover_url}}"></input><br>
      <p><strong>Details:</strong></p>
        <textarea rows="10" cols="50" placeholder="Description" name="description">{{book.description}}</textarea><br>

      <button type="submit" class="btn btn-success" id="submit_form">Submit</button>
      <a href="/" class="btn btn-danger" id="cancel_form"> Cancel</a>
    </form>

  </div>

{% endblock %}
